body {
    font-family: "Gabarito", sans-serif;
    background-color: white;
    transition: all ease-in-out 500ms;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 200;
    background-color: white;
    padding: 0 1rem;
    transition: all ease-in-out 500ms;
    .nav-section {
        max-width: 75rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }
    #navLogo {
        width: 10rem;
    }
    ul {
        gap: 1.5rem;
        display: flex;
        list-style: none;
        transition: all ease-in-out 500ms;
        li {
            a {
                text-decoration: none;
                font-size: 1.25rem;
                color: #59A9FE;
                transition: all ease-in-out 100ms;
                &:hover {
                    color: #3870ab;
                }
            }
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 1rem;
}

.dark {
    width: 100%;
    height: 100svh;
    border-radius: 0%;
}

#switcherMode {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border: black 1px;
    &:hover {
        cursor: pointer;
    }
}

input[type="checkbox"] {
    display: none;
}

#container {
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 500ms;
    margin: 0;
    gap: 2rem;
}

.transition {
    transform: translateY(-4rem);
    svg {
        opacity: 0;
        transition: all ease-in-out 200ms;
    }
}

#sign {
    padding: 0.5rem 1rem;
    background-color: #F2A531;
    border-radius: 2rem;
    color: black;
}

.hero-section {
    max-width: 75rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
    flex-wrap: wrap;
}

h1#judul {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    z-index: 101;
    transition: all ease-in-out 500ms;
    color: #111827;
    line-height: 100%;
    max-width: 30rem;
    span {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        flex-wrap: wrap;
        svg {
            transform: translateY(100%);
        }
    }
}

body:has(.awikwok:checked) {
    background-color: #111827;
    h1#judul {
        color: white;
    }
    nav {
        background-color: #111827;
    }
    #hamburger {
        #hamburgerStrip {
        background-color: white;
        }
    }
    ul#list {
        background-color: #111827;
    }
}

.column-sw {
    h2 {
        background-color: #FE645A;
        padding: 1rem;
        color: white;
        transition: 100ms all ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: #b43e35;
        }
    }
}

#swContainer {
    display: flex;
    align-items: end;
    gap: 1rem;
}

#hamburger {
    flex-direction: column;
    height: 2rem;
    width: 2rem;
    justify-content: space-between;
    display: none;
    z-index: 500;
    &:hover {
        cursor: pointer;
    }
    #hamburgerStrip {
        width: 100%;
        height: 0.4rem;
        background-color: #111827;
        border-radius: 1rem;
        transition: all ease-in-out 500ms;
    }
}

.nav-section:has(#hamburgerTrigger:checked) {
    ul#list {
        transform: translateX(0);
    }
}

@media screen and (max-width: 970px) {
    .hero-section {
        justify-content: center;
    }

    .hero {
        margin-top: 7.5rem;
    }
    #hamburger {
        display: flex;
    }
    #navForMobile {
        transform: translateX(0%);
    }
    .nav-section {
        ul#list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            background-color: white;
            height: 100svh;
            width: 75%;
            right: 0;
            bottom: 0;
            transform: translateX(100%);
        }
    }
}