body {
    font-family: "Gabarito", sans-serif;
    background-color: white;
    transition: all ease-in-out 500ms;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 200;
    background-color: white;
    padding: 0 1rem;
    transition: all ease-in-out 500ms;
    .nav-section {
        max-width: 75rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
    }
    #navLogo {
        width: 10rem;
    }
    ul {
        gap: 1.5rem;
        display: flex;
        list-style: none;
        transition: all ease-in-out 500ms;
        li {
            a {
                text-decoration: none;
                font-size: 1.25rem;
                color: #59A9FE;
                transition: all ease-in-out 100ms;
                &:hover {
                    color: #3870ab;
                }
            }
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 725px;
    padding: 1rem;
}

.dark {
    width: 100%;
    height: 100svh;
    border-radius: 0%;
}

#switcherMode {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border: black 1px;
    &:hover {
        cursor: pointer;
    }
}

input[type="checkbox"] {
    display: none;
}

#container {
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 500ms;
    margin: 0;
    gap: 2rem;
}

.transition {
    transform: translateY(-4rem);
    svg {
        opacity: 0;
        transition: all ease-in-out 200ms;
    }
}

#sign {
    padding: 0.5rem 1rem;
    background-color: #F2A531;
    border-radius: 2rem;
    color: black;
}

.hero-section {
    max-width: 75rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
    flex-wrap: wrap;
}

h1#judul {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    z-index: 101;
    transition: all ease-in-out 500ms;
    color: #111827;
    line-height: 100%;
    max-width: 30rem;
    span {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        flex-wrap: wrap;
        svg {
            transform: translateY(100%);
        }
    }
}

body:has(.awikwok:checked) {
    background-color: #111827;
    .get-started {
        .get-started-section {
            div:nth-child(1) {
                h2 {
                    color: white;
                }
                h3 {
                    color: white;
                }
            }
            div:nth-child(2) {
                p {
                    color: white;
                }
            }
        }
    }
    h1#judul {
        color: white;
    }
    nav {
        background-color: #111827;
    }
    #hamburger {
        #hamburgerStrip {
            background-color: white;
        }
    }
    .dua-section {
        h2 {
            color: white;
            transition: all ease-in-out 500ms;
        }
    }
}

.column-sw {
    h2 {
        background-color: #FE645A;
        padding: 1rem;
        color: white;
        transition: 100ms all ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: #b43e35;
        }
    }
}

#swContainer {
    display: flex;
    align-items: end;
    gap: 1rem;
}

#hamburger {
    flex-direction: column;
    height: 2rem;
    width: 2rem;
    justify-content: space-between;
    display: none;
    z-index: 500;
    &:hover {
        cursor: pointer;
    }
    #hamburgerStrip {
        width: 100%;
        height: 0.4rem;
        background-color: #111827;
        border-radius: 1rem;
        transition: all ease-in-out 500ms;
    }
}

.nav-section:has(#hamburgerTrigger:checked) {
    ul#list {
        transform: translateX(0);
    }
}

#svgAndButton {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    button {
        padding: 0.5rem 1rem;
        border-style: none;
        background-color: #F2A531;
        border-radius: 2rem;
        color: black;
        font-size: 1.25rem;
        width: fit-content;
        font-weight: 700;
        &:hover {
            cursor: pointer;
        }
    }
}

#judulSection {
        font-size: 2rem;
        line-height: 100%;
        filter: grayscale(50%);
}

.satu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 1rem;
}

.satu-section {
    max-width: 75rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    svg {
        animation-name: muter;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

    }
    
}

#satuContent {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    background-color: #A0CAE0;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
    max-width: 40rem;
    width: 100%;
    justify-content: center;
}

.add-shadow {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.satuImage {
    svg:nth-child(1) {
        z-index: 99999;
    }
    svg:nth-child(2) {
        transform: translateX(75%) translateY(-25%);
    }
    svg:nth-child(3) {
        transform: translateX(150%) translateY(-50%);
    }
}

#text {
    max-width: 40rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    color: #01203D;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dua {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.dua-section {
    max-width: 75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    h2 {
        font-size: 2rem;
        line-height: 100%;
        transition: all ease-in-out 500ms;
        text-align: center;
    }
    > div {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
}

.lampu {
    background-color: #FFF7AE;
    padding: 2rem;
    color: #7C4B00;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    h3 {
        filter: grayscale(50%);
    }
}

.jam-beker {
        background-color: #CBCBE7;
        padding: 2rem;
        color: #39003D;
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 1rem;
        h3 {
            filter: grayscale(50%);
        }
}

.get-started {
    width: 100%;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.get-started-section {
    max-width: 75rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    div:nth-child(1) {
        flex-basis: 35rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h2 {
            font-size: 3rem;
            line-height: 100%;
            font-weight: 600;
            transition: all ease-in-out 500ms;
        }
        h3 {
            font-size: 1.5rem;
            font-weight: 400;
            transition: all ease-in-out 500ms;
            span {
                font-weight: 700;
                transition: all ease-in-out 500ms;
            }
        }
    }
    div:nth-child(2) {
        flex-basis: 35rem;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        p {
            font-size: 1.25rem;
            transition: all ease-in-out 500ms;
        }
        button {
            background-color: #F2A531;
            border-style: none;
            padding: 1rem;
            width: 100%;
            border-radius: 2rem;
            font-size: 1.25rem;
            position: relative;
            font-weight: 500;
            &:hover {
                cursor: pointer;
            }
            svg:nth-child(1) {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}

@keyframes muter {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 970px) {
    .hero-section {
        justify-content: center;
    }

    .hero {
        margin-top: 7.5rem;
    }
    #hamburger {
        display: flex;
    }
    #navForMobile {
        transform: translateX(0%);
    }
    .nav-section {
        ul#list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            background-color: white;
            height: 100svh;
            width: 100%;
            right: 0;
            bottom: 0;
            top: 0;
            transform: translateX(100%);
            margin: 0;
            li {
                margin: 0;
            }
        }
    }
    body:has(.awikwok:checked) {
        ul#list {
            background-color: #111827;
        }
    }
}